.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('../images/header-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $main-light-color;
  text-align: center;
}

.header__bottom {
  padding: 0 20px 288px;
}
