.page {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  color: $main-dark-color;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.logo {
  display: flex;
}
